@import "../../style/variables.scss";

.char-list {
  width: 650px;
  &_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
}

.char-card {
  max-width: 200px;
  height: 318px;
  background-color: $dark;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  padding: 15px;
  cursor: pointer;
  transition: 0.3s transform;

  img {
    width: 200px;
    height: 200px;
    object-fit: fill;
    transform: translate(-15px, -15px);
  }

  &__name {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &_selected {
    box-shadow: 0 5px 20px $main-color;
    transform: translateY(-8px);
  }
}
