@import '../../style/variables.scss';

.single-comics {
  display: flex;
  padding-bottom: 100px;
  &__img {
    width: 293px;
    margin-right: 50px;
  }

  &__info {
    max-width: 550px;
  }

  &__name {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }

  &__descr {
    font-size: 18px;
    line-height: 21px;
    margin-top: 25px;
  }

  &__price {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: $main-color;
    margin-top: 25px;
  }

  &__back {
    justify-self: end;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-left: 127px;
    &:hover {
      color: $main-color;
    }
  }
}